.i-frame {
    width: 150px;
    height: 120px;
}

.note-list {
    margin: 20px;
    columns: 2;
    background-color: #ececec;
    column-gap: 5px;
    align-items: center;
}

.headline{
    background-color: #ececec;
    font-size: 30px;
    font-family: Kalam;
    font-weight: bold;
    user-select: none;
    padding: 20px;
}

.note {
    width: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    font-family: Kalam;
    padding: 10px;
    break-inside: avoid;
    border-bottom: 1px solid rgba(70, 70, 70, 0.281);
    border-right: 1px solid rgba(68, 68, 68, 0.24);
    line-break: anywhere;
}

.note:hover {
    border-bottom: 1px solid rgba(36, 36, 36, 0.493);
    border-right: 1px solid rgba(26, 26, 26, 0.431);
}

.note-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-caption {
    cursor: pointer;
}

.img-caption {
    margin: 20px 0 20px 0;
}

@media (min-width: 480px) {
    .note-list {
        columns: 2;
    }

    .note {
        width: 200px;
    }

    .i-frame {
        width: 190px;
        height: 120px;
    }
}

@media (min-width: 690px) {
    .note-list {
        columns: 2;
    }

    .note {
        width: 300px;
    }

    .i-frame {
        width: 250px;
        height: 200px;
    }
}

@media (min-width: 1030px) {
    .note-list {
        columns: 3;
    }
}

@media (min-width: 1300px) {
    .note-list {
        columns: 4;
    }
}

@media (min-width: 1600px) {
    .note-list {
        columns: 5;
    }
}