.note-editor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.note-editor-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.2s;
}

.note-editor-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.219);
}

.note-editor-icon img {
    width: 30px;
}

.note-type-icon {
    width: 50px;
    display: flex;
    align-items: center;
}

.note-type-icon img{
    width: 30px;
}

.pinned {
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 50%;
}