@font-face {
    font-family: 'C&L';
    src: url(../font/Champagne\ &\ Limousines.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'C&L';
    src: url(../font/Champagne\ &\ Limousines\ Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url(../font/Kalam-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url(../font/Kalam-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arizona';
    src: url(../font/Arizonia-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayFairDisplay';
    src: url(../font/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: 'Righteous';
    src: url(../font/Righteous-Regular.ttf);
}