footer {
    border-top: #018860 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    background-color: #f1df89;
    height: 50px;
}

footer small {
    text-align: center;
    margin: auto;
    color: rgb(197, 197, 197);
}