.email-side-bar {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: 1px #e7c79e solid;
}

.email-side-bar .new-mail-btn {
    align-self: center;
    width: 180px;
    border: none;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #e7c79e solid;
    font-size: 20px;
    margin-bottom: 20px;
}

.new-mail-btn:hover {
    background-color: #e09923;
    cursor: pointer;
    color: white;
}

.new-mail-btn:hover .compose-plus {
    color: #018860;
}

.new-mail-btn .compose-plus {
    font-size: 30px;
    margin-right: 5px;
}

.side-bar-active {
    background-color: #fff3bf;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side-bar-nav {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 5px;
    padding-right: 20px;
}

.side-bar-nav span {
    color: #018860;
}