.email-app-container {
    display: flex;
    height: 100%;
}

.email-content {
    flex-grow: 3;
}

.email-list {
    height: calc(100vh - 185px);
    overflow-y: scroll;
}

.email-preview {
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 120px 20fr 75px;
    padding: 15px;
    border-bottom: 1px #e7c79e solid;
    background-color: #fff3bf;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.email-preview img {
    width: 40px;
}

.read {
    background-color: #FFFFFF;
}

.no-emails {
    text-align: center;
    font-size: 30px;
    color: gray;
    margin-top: 30px;
}   