.note-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.note-preview{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* width: 200px; */
    /* height: 200px; */
}
/* .container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */
.text-note{
    background-color: red;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.video-note{
    background-color: yellow;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.todo-note{
    background-color: teal;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.image-note{
    background-color: violet;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
